# REACT_APP_API_URL="https://kyle.hipl-staging3.com/api/"
# REACT_APP_BACKEND_URL="https://kyle.hipl-staging3.com/"

REACT_APP_API_URL="https://kyle-dev.hipl-staging3.com/api/"
REACT_APP_BACKEND_URL="https://kyle-dev.hipl-staging3.com"
# REACT_APP_SOCKET_URL="https://kyle-dev.hipl-staging3.com"
REACT_APP_SOCKET_URL="https://kyle-dev.hipl-staging3.com:3000"

# REACT_APP_API_URL="http://192.168.1.23:8000/api/"
# REACT_APP_BACKEND_URL="http://192.168.1.23:8000/"
# REACT_APP_SOCKET_URL="http://192.168.1.23:3000"

# REACT_APP_API_URL="https://beta-admin.buyboxbot.com/api/"
# REACT_APP_BACKEND_URL="https://beta-admin.buyboxbot.com/"
# HOME_URL="https://kyle-dev-react.hipl-staging3.com/"

REACT_APP_RECAPTCHA_SECRET_KEY="6LcFsCUnAAAAAE2sIpjwkDz_yA7vSC67YaN1R6Rh"
REACT_APP_RECAPTCHA_SITE_KEY="6LcFsCUnAAAAADIZzdXNpscJPJkn0G-asY4Mlq7K"
REACT_APP_GOOGLE_CLIENT_ID="228707625591-afemor5re8dlrdjfvb0fht68g0apfjuv.apps.googleusercontent.com"
REACT_APP_GOOGLE_MAP_KEY="AIzaSyBLL7Mb3CbDy3-PAMVsMUQXCT3N4awV-IY"
REACT_FB_APP_ID="504416868534509"
REACT_APP_COUNTRY_CODE="1"
GENERATE_SOURCEMAP=false
